.Button{
    -fx-border-color: #FFD700;
    -fx-border-radius: 50%;
    -fx-background-color: #FFD700;
    -fx-border-width: 5px;
    -fx-text-fill: #000000;
    -fx-background-radius: 50%;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}